body { 
	margin: 0; 
	padding: 0; 
	font: 1em "Trebuchet MS", verdana, arial, sans-serif; font-size: 100%;
	background: #443d56;
}

div.container { 
	margin: auto; 
	width: 80%; 
}

h1 {
	color: white;
	
}
ul.tabNavigation {
    list-style: none;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: #27262a;
    display: inline-block; 
}

ul.tabNavigation li {
    display: inline;
    margin: 0;
}

ul.tabNavigation li a {
    padding: 10px 20px;
    color: #f9f6f6;
    text-decoration: none;
}

ul.tabNavigation li a:hover {
    background-color: #616060;
	border-radius: 20px;
}


div.tabs > div {
	padding: 50px;
    background-color: #ffffff7c;
	border-radius: 20px;
  	transition: width 1s, height 2s;
}


		
